[submodule "vendor/github.com/alexcesaro/log"]
	path = vendor/github.com/alexcesaro/log
	url = https://github.com/alexcesaro/log
	branch = master
[submodule "vendor/github.com/jessevdk/go-flags"]
	path = vendor/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
	branch = master
[submodule "vendor/github.com/shazow/rateio"]
	path = vendor/github.com/shazow/rateio
	url = https://github.com/shazow/rateio
	branch = master
[submodule "vendor/github.com/dustin/go-humanize"]
	path = vendor/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
	branch = master
[submodule "vendor/github.com/howeyc/gopass"]
	path = vendor/github.com/howeyc/gopass
	url = https://github.com/howeyc/gopass.git
