language: go

notifications:
  email: false

install:
  - export PATH=$PATH:$HOME/gopath/bin
  - go get github.com/GeertJohan/fgt
  - go get github.com/golang/lint/golint
  - make deps

script:
  # TODO: Bring this back: - fgt golint
  - make test

go:
  - 1.4
