notifications:
  email: false

language: go

go:
  - 1.11

env:
  - CGO_ENABLED=0 GO111MODULE=on

install:
  - go get -t ./...
  - go get github.com/gordonklaus/ineffassign

script:
  - diff -u <(echo -n) <(gofmt -d .)
  - ineffassign .
  - go test -vet "all" -v ./...
